/* google font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* slider */
  /*  */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20px!important;
  cursor: pointer;
  background-color: #e2e2e2a5;
  color: rgb(139, 139, 139);
  padding: 10px;
  border-radius: 50%;

}

.custom-prev {
  left:10px;
 
}

.custom-next {
  right: 10px;
}

/* table */
.radius{
  border-radius: 35px!important;
}