
.swiper-pagination {
    margin-top: 200px!important; /* Adjust spacing above */
    margin-bottom: 12px; /* Adjust spacing below */
    margin-left: 0; /* Optional */
    margin-right: 0; /* Optional */
  }